<h2>Notes</h2>
<p>Cool ! You just have installed {{ config.app_name}}. You can change this area by editing the <em>_notes.twig</em> file in the <code>app/view </code> folder.</p>
<p>Your complaints or error messages are welcome. You can report them with the blue button <em>Report an error</em> at the top left of the page.</p>