{% extends "_base.twig" %}
{% set title = 'À propos' %}

{% block content %}
<div class="container">
	<h1>À propos</h1>
	<p>Ce module des statistique et résultats du CA Sion a été créé le 12.12.2014 par Michael Ravedoni avec l'aide du webmaster du CA Vétroz et est construit sur une base de données alimentée par René de Voogd entre 1997 à 2012. Il s'inspire grandement du module provenant de Swiss-athletics. Il est le fruit d'un travail de longue haleine puisque son créateur n'avait jadis aucune connaissance dans le domaine des données web. C'est pour cette raison que vos conseils, réclamations ou demandes sont les bienvenues.</p>
	<p>Pour un fonctionnement optimal du site, nous vous recommandons d'utiliser la versions la plus récentes de votre navigateur web. Des difficultés majeures sont rencontrées avec les anciennes versions d'Internet Explorer. Vérifier également que javascript (ou “active scripting” pour Internet Explorer) est activées dans votre navigateur.</p>
	<div class="ui center aligned container"><a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="Licence Creative Commons" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png" /></a><br />Ce(tte) œuvre est mise à disposition selon les termes de la <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Licence Creative Commons Attribution -  Partage dans les Mêmes Conditions 4.0 International</a>.</div>
</div>
{% endblock %}
