{% extends "_base.twig" %}
{% set title = 'Bilans' %}

{% block content %}
    <div class="container">
        <h1>Bilans</h1>
		<p>Titres et médailles des athlètes du CA Sion par championnats.</p>
        <ul>
			<li><a href="https://casion.ch/contenu/documents/Bilan-2013.pdf" target="_blank">Bilan 2013</a></li>
			<li><a href="https://casion.ch/contenu/documents/Bilan-2014.pdf" target="_blank">Bilan 2014</a></li>
		</ul>
    </div>
{% endblock %}
